<div class="page">
  <nav class="nav">
    <div class="nav__inner">
      <button class="btn btn--icon">
        <span class="menu_bar"></span>
      </button>
      <span class="brand">THE BARON</span>
    </div>
    <div class="nav__inner">
      <button class="btn btn--icon"><span class="cross_bar"></span></button>
    </div>
  </nav>
  <main>
    <!-- <div class="hero">
      <div class="prehead">Welcome to</div>
      <img
        class="head"
        src="https://res.cloudinary.com/tumi/image/upload/v1602644456/Home%20PWAs/Baron/BD_BARON_HOME_Screen_Baron_Logo.png"
        alt=""
      />
      <p class="subhead">Contemporary Dining.</p>
    </div> -->
    <div class="hero">
      <img
        class="img img--hero"
        src="https://res.cloudinary.com/tumi/image/upload/v1602644456/Home%20PWAs/Baron/BD_BARON_HOME_Screen_Logo_Lock_Up.png"
        alt="Welcome to The Baron Contemporary Dining"
      />
    </div>
    <div class="list-wrapper">
      <div class="list-head">Available Promotion</div>
      <ul class="list list--horizontal">
        <li class="list__item card">
          <img
            src="https://res.cloudinary.com/tumi/image/upload/v1602648200/Home%20PWAs/Baron/compressed/BD_BARON_RIB_WEDNESDAY_In_app_awarness_screen_1000_x_7000.jpg"
            alt="promo card"
          />
        </li>
        <li class="list__item card">
          <img
            src="https://res.cloudinary.com/tumi/image/upload/v1602649488/Home%20PWAs/Baron/compressed/BD_BARON_STEAK_TUESDAY_In_app_awarness_screen_1000_x_7000.jpg"
            alt="promo card"
          />
        </li>
        <li class="list__item card">
          <img
            src="https://res.cloudinary.com/tumi/image/upload/v1602649573/Home%20PWAs/Baron/compressed/BD_BARON_LADIES_LUNCH_In_app_awarness_screen_1000_x_7000.jpg"
            alt="promo card"
          />
        </li>
        <div class="list__pad"></div>
      </ul>
    </div>
  </main>
</div>
