@font-face {
  font-family: "Albra Regular";
  src: url(https://res.cloudinary.com/tumi/raw/upload/v1602630239/fonts/bev/FontsFree-Net-AlbraRegular.ttf);
}
@font-face {
  font-family: "Armasen Kelson Light";
  src: url(https://res.cloudinary.com/tumi/raw/upload/v1602630238/fonts/bev/Armasen_-_Kelson-Light.otf);
}
@font-face {
  font-family: "Armasen Kelson";
  src: url(https://res.cloudinary.com/tumi/raw/upload/v1602630238/fonts/bev/Armasen_-_Kelson.otf);
}
@font-face {
  font-family: BebasNue;
  src: url(https://res.cloudinary.com/tumi/raw/upload/v1602511181/fonts/bev/BebasNeue_Regular.otf);
}
@font-face {
  font-family: AvenirNextCondensed;
  src: url(https://res.cloudinary.com/tumi/raw/upload/v1602511175/fonts/bev/AvenirNextCondensed-Regular.ttf);
}
@font-face {
  font-family: "AvenirNextCondensed Bold";
  src: url(https://res.cloudinary.com/tumi/raw/upload/v1602511178/fonts/bev/AvenirNextCondensed-Bold.ttf);
}
@font-face {
  font-family: "Arial";
  src: url(https://res.cloudinary.com/tumi/raw/upload/v1602511182/fonts/bev/Arial.ttf);
}
@font-face {
  font-family: "Avenir";
  src: url(https://res.cloudinary.com/tumi/raw/upload/v1602511191/fonts/bev/Avenir.ttc);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-accent: #f52e26;
}
html,
body {
  font-family: "Armasen Kelson";
  font-size: 18px;
}

/* NAV */
.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.nav__inner {
  display: flex;
  align-items: center;
  width: max-content;
  height: 100%;
}
.nav__inner:last-of-type {
  margin-left: auto;
}
.brand {
  margin-left: 1em;
  color: #f4f4f4;
}
/* END-NAV */

/* HERO */
.hero {
  width: 100%;
  padding-top: 10vh;
  color: #f4f4f4;
  margin-bottom: 2em;
}
.prehead {
  font-size: 2.5em;
}
.head {
  font-size: 3em;
  font-weight: bold;
  width: 100%;
}
.subhead {
  font-size: 26px;
  margin-left: 16px;
}
.img--hero {
  width: 100%;
  height: 100%;
}
/* END-HERO */

.list-wrapper {
  color: #f4f4f4;
  width: 100vw;
  height: 35vh;
  margin-left: -2em;
  padding-left: 2em;
}
.list-head {
}
.list {
  display: flex;
  list-style: none;
  width: inherit;
  height: inherit;
  margin-left: inherit;
  overflow-y: auto;
  overflow-x: scroll;
  padding: 1em;
  padding-left: inherit;
}
.list__item {
  min-width: 70vw !important;
  height: max-content;
  transition: 0.4s;
}
.list:hover .list__item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 26px rgba(0, 0, 0, 0.26);
}
.list__item:hover ~ .list__item {
  filter: blur(1px) brightness(0.9);
}
.list__item:not(:last-child) {
  margin-right: 1em;
}
.list__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}
.list__pad {
  min-width: 2em !important;
  box-sizing: border-box;
}
.accent {
  color: var(--color-accent);
}
.btn {
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn--icon {
  --s: 2.5em;
  width: var(--s);
  height: var(--s);
}

/* ICONS */
.menu_bar,
.cross_bar {
  position: relative;
  display: block;
  background-color: #fff;
  width: inherit;
  height: 3px;
}
.cross_bar::before,
.menu_bar::before,
.menu_bar::after {
  --gap: 4px;
  content: "";
  position: absolute;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: inherit;
  transform: translateY(calc((100% + var(--gap)) * -1));
  transition: 0.5s;
}
.menu_bar::after {
  transform: translateY(calc(100% + var(--gap)));
}
.cross_bar {
  transform-origin: center;
  transform: rotate(45deg);
}
.cross_bar::before {
  transform-origin: center;
  margin: 0;
  transform: rotate(-90deg);
}
.cross_bar:hover {
  animation: spin 1s ease-in;
}
@keyframes spin {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes breathe {
  0% {
    --gap: 4px;
    /* transform: scaleY(1.1); */
  }
  50% {
    --gap: 8px;
    /* transform: rotate(-45deg); */
  }
  100% {
    --gap: 4px;
    /* transform: rotate(45deg); */
  }
}
